
.heading{
    padding-bottom: 20px;
    margin: 10px 20px 20px 20px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    
}
.text-black-50{
    font-style: italic;
    justify-content: justify;
    font-size: 20px;

}

.object-fit-lg-contain{
 
    margin: 10px 10px 10px 10px  !important;
    align-items: center;

}
.object-fit-lg-contain img {
    max-width: 60%;
    width:30px;
    height: 30px;
}
.fst-italic{
    font-size: 20px;
    color:blue
}
.content{
    margin: 10px 10px 10px 10px  !important;
    position: relative !important;

}
.content img {
    max-width: 60%;
    width:30px;
    height: auto;
  }
  @media screen and (max-width: 740px) {
    .contentNewspapers{
        position: absolute !important;
        margin-top: 30px;
    }
    .bg-primary{
        width: 10rem !important;
    }
    .container-fluid {
        padding-top: 2%;
        padding-bottom: 0.5%;
        display: block !important;
        align-items: center!important;
      }
  
      /* height:fit-content; */
      /* align-items: center; */
      /* justify-content: center; */
      /* margin-left: 50px; */  
  }
  a{
    text-decoration: none !important;
  }
  .container-fluid {
    padding-top: 2%;
    padding-bottom: 0.5%;
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
      .time {
    margin-left: auto;
  }
  .text-start{
    color: white !important;
  }
}
